* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background-color: #000;
    background-image: radial-gradient(
        circle at center,
        rgba(50, 130, 184, 0.3) 20%,
        rgba(0, 0, 0, 1) 80%
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #BBE1FA;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.body-container {
    padding: 2rem;
    width: 60vmax;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 20px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(50, 130, 184, 0.2);
    gap: 12px;
}

.header::before {
  content: "â—";
  color: #52b3f5; /* your blue */
  font-size: 1.2em;
  margin-right: 8px;
}

.header {
    font-size: 1.5rem;
    font-weight: 100px;
    margin: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.name {
    margin-top: 20px;
}

.profession {
    color: #7fc5f3;
}

.photo-container {
    width: 30vh;
    height: 30vh;
    margin: 0 auto;
    background: #47b6ff;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #6fc5ff9d;
    box-shadow: 0 0 30px rgba(50, 130, 184, 1);
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    display: block;
}

.contact, .core-tech, .connect {
    padding: 2%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(50, 130, 184, 0.2);
    width: 100%;
}

.contact {
    padding: 1rem;
}

.contact > p {
    padding-left: 2rem;
}

.fas {
    height: 32px;
    width: 32px;
    background: #47b5ff28;
    border-radius: 50px;
    padding: 8px;
    margin-right: 4px;
}

.contact p:not(:last-child) {
  margin-bottom: 10px;
}

.connect {
    padding: 2%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(50, 130, 184, 0.2);
}

@media (max-width: 768px) {
  body {
    padding: 2%;
    font-size: 0.95rem;
    flex-direction: column;
    align-items: center;
  }

  .body-container {
    padding: 5%;
    width: 90vmin;
  }

  .photo-container {
    width: 200px;
    height: 200px;
  }

  .header {
    font-size: 1.2rem;
    text-align: left;
  }

  .contact > p {
    padding-left: 0.5rem;
    font-size: 0.95rem;
  }

  .fas {
    height: 32px;
    width: 32px;
    padding: 6px;
    margin-right: 4px;
    text-align: center;
  }
}
