* {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* --------------------------HEADER------------------------------------ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    background-color: #456882;
    justify-self: baseline;
}

.my-logo {
    width: 64px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-list a {
    text-decoration: none;
    color: white;
}


/* --------------------------MAIN------------------------------------ */


main{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F9F3EF;
}


/* --------------------------HERO------------------------------------ */
.hero {
    background-color: #D2C1B6;
}

.hero-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 64px;
    gap: 128px;
}

.small-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.small-info-name {
    font-size: 48px;
    font-weight: 900;
}

.small-info-content {
    font-size: 24px;
}

.andrei-photo {
    height: auto;
    width: 300px;
    flex-shrink: 0;
}

/* --------------------------ABOUT ME------------------------------------ */


/* --------------------------MY WORK------------------------------------ */

/* --------------------------MY RESUME------------------------------------ */

/* --------------------------CONTACT------------------------------------ */

/* --------------------------FOOTER------------------------------------ */

footer {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    padding: 16px;
    background-color: rgb(44, 54, 68);
    color: white;
}